body {

    margin:0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color:blue;
    text-align: center;

  }

fireworks {
        position: absolute;
        }

explotion {
      left: 2px;
      bottom: 0;
      width: 4px;
      height: 80px;
      transform-origin:50 100;
      background-color:rgba(0,0,.2);
   }

.explosion:nth-child(1) {
      transform: rotate(0deg) translateY;{-15px;}
    }
.explosion:nth-child(2) {
      transform: rotate(30deg) translateY;(-15px);
    }
.explosion:nth-child(3) {
      transform: rotate(60deg) translateY;(-15px);
    }
.explosion:nth-child(4) {
      transform: rotate(90deg) translateY;(-15px);;
    }
.explosion:nth-child(5) {
      transform: rotate(120deg) translateY;(-15px);;
    }
.explosion:nth-child(6) {
      transform: rotate(150deg) translateY;(-15px);
    }
.explosion:nth-child(7) {
      transform: rotate(180deg) translateY;(-15px);
    }
.explosion:nth-child(8) {
      transform: rotate(210deg) translateY;(-15px);
    }
.explosion:nth-child(9) {
      transform: rotate(240deg) translateY;(-15px);
    }
.explosion:nth-child(10) {
      transform: rotate(270deg)  translateY;(-15px);
    }

.explosion:nth-child(11) {
      transform: rotate(300deg) translateY;(-15px);
    }

.explosion:nth-child(12) {
      transform: rotate(330deg) translateY;(-15px);
    }

.explosion::before {
                
                position:absolute;
                left:0;
                right:0;
                top:100%
                height: 40px;
                background-color:#fcf52;
                animation:explosive 2s ease-in-out infinite;
     }

   @keyframes explosion {
     0% 
     top:100%;
}
  33%, 100% {
        top:50%;
   }

#fireworks1 {
           left:50%;
           top:50%;
           transform:scale(1);
    }

#fireworks1 .explosion::before {
        animation: explosive 2s ease-in-out infinite;
     }


#fireworks2 {
         left:40%;
         top:45%;
         transform:scale(7);

  }

#fireworks1 .explosion::before {
        animation: explosive 2s .7s ease-in-out infinite;
     }

#fireworks3{
      left:60%
      top:65%
      transform:scale(4);
}

#fireworks1 .explosion::before {
        animation: explosive 2s, 4s ease-in-out infinite;
     }


h1 {

  font-size:36px;
  text-align: center;
  font-family:decorative;
}


h2  {
    
  font-family:courier;
  text-align:center ;
}

.write up {
    
    background-color:#191970;
    color: FFFFF;
    padding:80px;
    font-family:courier;
    text-align:center;
}

.image {
    
    width:115px;
    height:115px;
}
